:root {
    --main: lightslategray;
    --highlight: lightseagreen;
    --main-bg: whitesmoke;
    --logo-border-color: rebeccapurple;

    --header-height: 68px;
    --content-padding: 10px 20px;

    --base-line-height: 1.428571429;
    --transition-duration: .35s;
    --external-link: "external link";
    --margin-top: calc(2vh + 20px);
}

html {
    background-color: var(--main-bg);
    background: var(--main-bg);
    font-family: monospace;
    color: var(--main);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    top: 0px;
}

div {
    margin: 1vh;
    padding: 1vh;
}

a {
    text-decoration: none;
    font-size: large;
    color: var(--main);
}

a:link {
    color: var(--main);
}

a:visited {
    color: var(--main);
}

a:hover {
    color: var(--highlight);
}

a:active {
    color: var(--highlight);
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul li {
    margin: 2vh;
}